* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

menu {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(217, 217, 217, 0.1);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgb(111, 110, 255);;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #5350f4 0%, #5555f7 100%);
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  position: relative;
  margin: 0px;
  background: #2b2c3a;
}

.top-bar {
  position: fixed;
  right: 0;
  top: 0;
  width: 81%;
  height: 72px;
  padding-left: 45px;
  padding-right: 55px;
  z-index: 2;

  background: #2b2c3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(217, 217, 217, 0.1);
}

.help-list {
  display: flex;
  gap: 10px;
  padding-right: 20px;
  border-right: 1px solid rgba(217, 217, 217, 0.1);
}

.help-list__link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.help-list__link:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.user-info {
  display: flex;
  align-items: center;
}

.stat-list {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.stat-list__item {
  background: rgb(255, 255, 255, 0.06);
  mix-blend-mode: normal;
  border-radius: 5px;
  padding: 0 7px;
  height: 24px;

  display: flex;
  align-items: center;
}

.stat-list__item:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.stat-list__items:focus {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.stat-list__text {
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.stat-list__text_small {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);
}

.stat-list__image {
  margin-right: 10px;
  box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
}

.stat-list__hours {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 13px;
  margin-right: 5px;
}

.left-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 19%;
  background: rgba(156, 165, 236, 0.04);
}

.user-card {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-card__avatar {
  height: 44px;
  width: 44px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
}

.user-card__image {
  object-fit: contain;
}

.user-card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-card__name {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-right: 10px;
}

.user-card__condition {
  font-weight: 600;
  font-size: 13px;
  color: rgb(36, 203, 141);
}

.user-card__condition::before {
  content: "●";
  margin-right: 5px;
}

.user-card__status {
  font-size: 11px;
  line-height: 10px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 1px 7px 1px 5px;

  background: linear-gradient(
    90deg,
    rgb(107, 105, 249) 0%,
    rgb(111, 110, 255) 100%
  );
  box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
  border-radius: 4px;
}

.logo-container {
  padding: 20px 0px 15px 30px;
  height: 72px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.1);
}

.logo-container__link {
  width: 138px;
  height: 37px;
}

.logo-container__image {
  object-fit: contain;
}

.left-bar__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 72px);

  padding-bottom: 37px;
}

.left-bar__menu {
  padding-left: 0px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.1);
  overflow: auto;
}

.menu-item {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.menu-item__link {
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.menu-item__link::after {
  content: "";
  display: none;
  height: 10px;
  width: 10px;
  position: absolute;
  right: 16px;
  background: url(/images/triangle.svg) no-repeat;
}

.menu-item__link_active::after {
  display: inline-block; 
  transform: rotate(0deg);
} 

.menu-item__link_unactive::after {
  display: inline-block;
  transform: rotate(180deg);
}



.menu-item__link:hover {
  border-left: 3px solid #6f6eff;
  box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.03) 0%,
    rgba(255, 255, 255, 0.03) 93.97%
  );
}



.menu-item__link_unactive + .submenu {
  display: none;
}

.menu-item__link_active + .submenu {
  display: block;
}


.submenu-item__logo {
  height: 18px;
  width: 18px;
}

.submenu-item__link {
  padding-left: 46px;
  gap: 24px;
}

.left-bar__dispatch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  margin-right: 15px;
  margin-top: 5px;
}

.dispatch-label {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.001);
  transition: 0.4s ease-in-out;
  border-radius: 20px;
  border: 1px solid rgba(217, 217, 217, 0.1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 3px;
  bottom: 2px;
  background-color: rgb(111, 110, 255);
  transition: 0.4s ease-in-out;
}

input:checked + .slider {
  background-color: rgb(111, 110, 255);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(111, 110, 255);
}

input:checked + .slider:before {
  transform: translateX(18px);
  background-color: rgb(255, 255, 255);
}

.container {
  position: absolute;
  top: 72px;
  left: 19%;
  height: calc(100vh - 72px);
  width: 81%;
  overflow: auto;
}

.block {
  width: 95%;
  margin: 40px auto 60px auto;
  overflow: hidden;
}

.block__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 41px;
}

.title-container__level {
  font-size: 11px;
  color: rgb(255, 255, 255);
  mix-blend-mode: normal;
  opacity: 0.4;
  text-transform: uppercase;
}

.title-container__title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.button-container {
  display: flex;
}

.button-container__all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 30px;

  background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
  border-radius: 4px;

  font-size: 12px;
  color: rgb(255, 255, 255);
}

.button-container__all:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.shift-container {
  display: flex;
  margin-left: 10px;
  gap: 5px;
}

.shift-container__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.shift-container__btn_back {
  transform: rotate(-90deg);
}

.shift-container__btn_forward {
  transform: rotate(90deg);
}

.block__body {
  width: 100%;
}

.lesson-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-list__item {
  height: 294px;
  width: 24%;
}

.lesson-card {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 6px;
}

.lesson-card__image {
  position: relative;
  height: 144px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px 6px 0px 0px;
}

.lesson-card__label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  top: 15px;
  height: 20px;
  width: 50px;

  background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
  border-radius: 3px;

  color: rgba(255, 255, 255);
  font-size: 12px;
}

.lesson-card__main {
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;

  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}

.lesson-card__title {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255);
  margin: 0;
}

.lesson-card__description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.lesson-card__footer {
  height: 61px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-card__date {
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.lesson-card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 89px;
  color: rgba(255, 255, 255);

  background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
  border-radius: 3px;
}

.lesson-card__btn:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #5350f4 0%, #5555f7 100%);
}
